body{
  background-color: rgb(143, 180, 172);
  padding-inline: 5rem;
}
header{
  display: flex;
  justify-content: center;
}

header img{
  margin-top: 20px;
  width: 50%;
}


nav ul{
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  background-color: rgb(32, 31, 31);
  color: white;
  border-radius: 30px;
  margin-block: 20px;
  margin-inline: auto;
  padding-block: 10px;
}
nav ul a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav ul a:visited{
  text-decoration: none;
}

nav ul a:hover{
  color: rgb(255, 222, 34);
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img{
  width: 80px;
  height: 100px;
}

.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  color: rgb(255, 222, 34);
}
footer p{
  width: 50%;
  border-top: 2px solid black;
  text-align: right;
}

.booking-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding-inline: 10rem;
}

.booking-wrapper .booking-label{
  font-size: 50px;
  padding-inline-end: 5rem;

}

.booking-wrapper form{
  border-left: 1px solid black;
  padding-inline-start: 5rem;
}

form button.submit{
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  padding-inline: 30px;
  padding-block: 15px;
  text-transform: uppercase;
}

form button.submit:not(:disabled):hover{
  color: rgb(255, 222, 34);
}

form button:disabled{
  opacity: 0.5;
}

.confirmation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  color: rgb(255, 222, 34);
}